<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Authentication</title>
    </head>
    <body>
        <div class="w-full h-screen bg-zinc-900 text-white p-10">
            <a
                class="hover:underline rounded-md p-2 bg-red-300 text-black"
                href="/"
                >Create User</a
            >
            <br />
            <br />

            <h2 class="text-3xl">Login User</h2>
            <br />
            <form action="/login" method="post">
                <input
                    class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none"
                    type="text"
                    name="email"
                    placeholder="Email"
                />
                <input
                    class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none"
                    type="text"
                    name="password"
                    placeholder="Password"
                />

                <input
                    class="px-4 py-2 rounded-md bg-blue-500"
                    type="submit"
                    value="Login"
                />
            </form>
        </div>
    </body>
</html>
